<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #main{
            height: 100vh;
            width: 100vw;
            background-color: rgb(246, 245, 245);
        }
        #navbar{
            width: 100vw;
            display: flex;
            justify-content:space-between;
            background-color: #09c781;
        }
        .nav_divs{
            background-color: #04AA6D;
            color: white;
            padding-top: 14px;
            padding-bottom: 10px;
        }
        a{
            text-decoration: none;
        }
        .left{
            margin-left: 2px;
        }
        .left a{
            color: white;
            margin-right: 10px;
            font-size: 25px;
            padding-left: 10px;
            padding-right: 10px;
            transition: 0.5s;
        }
        .left a:hover{
            font-size: 30px;
            transition: 0.5s;
        }
        .right{
            padding-right:2px;
        }
        .dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 22px;
            border: none;
            width: 160px;
            
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            display: block;
            transition: 0.5s;
        }
        .dropdown-content a:hover {
            background-color: #ddd;
            transition: 0.5s;
        }
        .dropdown:hover .dropdown-content {
            display: block;
            transition: 0.5s;
        }
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
            transition: 0.5s;
        }

        #content{
            width: 100%;
            padding-top: 80px;
            padding-bottom: 80px;
            display: flex;
            justify-content: center;
        }

        th{
            padding: 10px;
            background-color: rgb(237, 235, 235);
        }
    </style>

    <title>All Users</title>
</head>
<body>
    <div id="main">
        <div id="navbar">
            <div class="nav_divs left">
                <a href="/home">Home</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
            </div>
            
            <div class="right dropdown">
                <button class="dropbtn"><%= result[0].Name %></button>
                <div class="dropdown-content">
                    <% if(result[0].Username === "admin"){ %>
                        <a href="/profile">View Profile</a>
                        <a href="/change">Change Password</a>
                        <a href="/logout" onclick="myfunction1()">Logout</a>
                    <% } else{ %>
                        <a href="/profile">View Profile</a>
                        <a href="/change">Change Password</a>
                        <a href="/logout" onclick="myfunction1()">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="content">
           <table class="userstable" border="2">
                <tr>
                    <th>Sr No.</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Mobile No.</th>
                </tr>
                <% for(var i=0;i<result.length;i++){ %>
                    <tr>
                        <th><%= i+1 %></th>
                        <th><%= result[i].Username %></th>
                        <th><%= result[i].Name %></th>
                        <th><%= result[i].Gender %></th>
                        <th><%= result[i].Mobile %></th>
                    </tr>    
                <% } %>
           </table>
        </div>
    </div>
</body>
<script>
    function myfunction1(){
        alert("Logout Successfull."); 
    }
</script>
</html>